:root{
    --cor-fundo: rgb(13, 13, 15);
    --cor-navbar: rgb(5, 5, 10);
    --cor-footer: rgb(13, 13, 15);
    /* --cor-navbar: rgb(229, 229, 238); */
    --cor-principal1:#a3f71b;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-fundo);
    transition: .5s;
    padding-bottom: 280px;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
}

.navbar{
    background-color: var(--cor-navbar);
    padding: 8px;
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-end;
    

}

.logo-saturn img{
    width: 65px;
    height: 70px;
    justify-self: center;
    margin-left: -890px;
}
.nav-content ul {
    background-color: var(--cor-navbar);
    align-items: center;
    display: flex;
    color: #b8f556;
    list-style: none;
    gap: 15px;
    margin-right: 200px;
    font-family: "DM Sans", sans-serif;
    margin-top: 25px;
    

}
.nav-content a{
    text-decoration: none;
    color: inherit;
}
.hr-nav {
    border: none;
    height: 3px;
    background-color: #aceb47; 
    margin: 40px 0;
    margin-top: 2px;
    width: 110%;
    margin-left: -15px;
    box-shadow: -20px 0px 20px #8dca2b;
}
.label{
    background-color: aliceblue;
}

.actions-botoes {
    display: flex;
    gap: 25px; 
}
.actions-botoes button{
    border-radius: 18px;
    width: 150px;
    height: 37px;
    cursor: pointer;
    color: aliceblue;
    position: relative;
    margin-top: 50px;  
    left: 150px;
    
}
.botao-contato{
    border: 1px solid #acff4e; 
    background-color: transparent;
    
}
.botao-contato:hover{
    background-color: #676854;

}
body.light .botao-contato{
    color: #015a01;
    border: 1px solid #015a01; 
}
body.light .botao-contato:hover{
     background-color: #b6fa8e;
}
.botao-curriculo{
    border: none;
    background-color: #6f7058;
    background-image: linear-gradient(90deg, #6bca2b, rgb(83, 116, 30) );
}
.botao-curriculo:hover{
    box-shadow: 0px 0px 8px #13f01a67;
    transform: scale(1.03);
}
.botao-contato:hover{
    transform: scale(1.03);
}

.title{
    font-family: "DM Sans", sans-serif;
    height: 120px; 
}
#typing {
  display: block;
  height: 40px;
  overflow: hidden;
}

.nome{
    color: #a8ff1c;
    font-size: 40px;
    margin-top: -11px;
}
body.light .nome{
    color: #6bac02;
}
.p{
    font-size: 17px;
    color: #8d8f83;
    margin-top: 15px;
    margin-left: 150px;
}

.ola{
    font-size: 40px;
    color: #e2e4cc;
    margin-top: 210px;
    margin-left: 150px;
    margin-bottom: 10px;
}
body.light .ola{
    color: #a3a3a2;
}
span{
    display: block;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 150px;
}

#typing {
    font-weight: bold;
}
.imagem-perfil img{
    width: 320px;
    height: 400px;
    border-radius: 10%;
    margin-left: 900px;
    top: 200px;
    border: 2px solid #b4f846;
    position: absolute;
    
    
}
.trilho{
    width: 65px;
    height: 25px;
    background-color: transparent;
    border-radius:150px;
    position: relative;
    cursor: pointer;
    margin-right: -400px;
    justify-self: center;
    top: 20px;
    border: 1px solid #b4f846;
}
.trilho .indicador{
    width: 23px;
    height: 23px;
    background-color: #d6d5d5;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
    border: 1px solid #b4f846;
    top: -1.5px;

}
.trilho.light .indicador{
    left: 40px;
    background-color: #fff;;
}
.trilho.light{
    background-color: #c7c5c5;
}
body.light{
    background-color: #fffafa;
}
body.light .p{
    color: #4e4e4a;
}
body.light .p{
    color: #4e4e4a;
}

.nav-content ul li{
    position: relative;
    cursor: pointer;
}
.nav-content ul li::after{
    content:" ";
    width: 0%;
    height: 2px;
    background-color: #a8ff1c;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
    top: 20px;
}
.nav-content ul li:hover::after{
    width: 100%;
    
}
.divisor hr{
    margin-top: 200px;
    border: none;
    height: 1.5px;
    background-color: #424240bb;
    box-shadow: 0px 5px 20px #42424086;
    width: 102%;
    margin-left: -8px;
    

}
.sobre-mim{
    margin-top: 100px;
    margin-left: 135px;
    font-family: "DM Sans", sans-serif;
}
.p-sobreMim{
    color: #949491;
    font-size: 18px;
    
}
body.light .p-sobreMim{
    color: #4e4e4a;
}

.titulo-sobre{
    color: #dbdbda;
    font-size: 25px;
}
body.light .titulo-sobre{
    color: #a3a3a2;
}
.titulo-sobre span{
    color: #a8ff1c;
    margin-top: -34px;
    margin-left: 85px;
    font-size: 26px;
}
body.light .titulo-sobre span{
    color: #6bac02;
}

.h2-habilidades{
    color: #dbdbda;
    font-size: 23px;
    font-family: "DM Sans", sans-serif;
    margin-top: 75px;
    margin-left: 136px;
}
body.light .h2-habilidades{
    color: #a3a3a2;
}
.h2-habilidades span{
    color: #a8ff1c;
    margin-top: -30px;
    margin-left: 95px;
    font-size: 23px;
    font-family: "DM Sans", sans-serif;
}
body.light .h2-habilidades span{
    color: #6bac02;
}
.intro{
    position: relative;
}
.Html5, .Css3, .Python, .Javascript, .PHP{
    display: flex;
    position: relative;
    background-color: transparent;
    border: 1px solid #a8ff1c;
    width: 150px;
    height: 190px;
    margin-left: 40px;
    margin-top: 45px;
    border-radius: 15px;
    cursor: pointer;
}
body.light .Html5, .Css3, .Python, .Javascript, .PHP{
    border: 1px solid #6bac02;
}

.sessao-habilidades{
    display: flex;
    justify-content: center;
    
    
}
.sessao-habilidades img{
    width: 70px;
    height: 70px;
    margin-top: 80px;
}
.Html5 img{
    width: 90px;
    height: 70px;
    margin-left: -72px;
}
.Css3 img{
    width: 70px;
    height: 70px;
    margin-left: -50px;
}
.Python img{
    width: 70px;
    height: 70px;
    margin-left: -54px;
}
.Javascript img{
    width: 70px;
    height: 70px;
    margin-left: -61px;
}
.PHP img{
    width: 90px;
    height: 50px;
    margin-left: -60px;
}

.sessao-habilidades p{
    margin-left: 50px;
     margin-top: 25px;
    color: #a8ff1c;
}
body.light .sessao-habilidades p{
    color: #6bac02;
}
.Css3 p{
    margin-left: 60px;
}
.Javascript p{
    margin-left: 39px;
}
.PHP p{
    margin-left: 60px;
}
.h2-projetos{
    color: #dbdbda;
    font-size: 24px;
    font-family: "DM Sans", sans-serif;
    margin-top: 75px;
    margin-left: 67px;
}
body.light .h2-projetos{
    color: #a3a3a2;
}
.h2-projetos span{
    color: #a8ff1c;
    margin-top: -32px;
    margin-left: 70px;
    font-size: 25px;
}
body.light .h2-projetos span{
    color: #6bac02;
}
.h2-contato{
    color: #dbdbda;
    font-size: 24px;
    font-family: "DM Sans", sans-serif;
    margin-top: 75px;
    margin-left: 67px;
}
body.light .h2-contato{
    color: #a3a3a2;
    }
.h2-contato span{
    color: #a8ff1c;
    margin-top: -32px;
    margin-left: 110px;
    font-size: 25px;
}
body.light .h2-contato span{
    color: #6bac02;
}

.proj-flutterflow img, .proj-cinema img{
    width: 350px;
    height: 230px;
    position: relative;
    margin-left: 25px;
    cursor: pointer;
   
}
.sessao-projetos {
    display: flex;
    margin-left: 100px;
}
.proj-cinema img{
    margin-top: 46px;
    margin-left: 25px;
}
.proj-cinema{
    transition: transform 0.3s ease;
}
.proj-cinema:hover{
    transform: scale(1.05);
}
.proj-flutterflow{
     margin-top: 23px;
}
.proj-flutterflow{
    transition: transform 0.3s ease;
}
.proj-flutterflow:hover{
    transform: scale(1.05);
}
.sessao-projetos hr{
   background-image: linear-gradient(90deg, #66ff00, rgb(110, 179, 0) );
   width: 350px;
   height: 3px;
   margin-top: -4px;
   border: none;
   position: relative;
   margin-left: 25px;
}
.linha-projetos1 hr{
   z-index: 2;
   position: relative;
}
.linha-projetos2 hr{
    z-index: 1; 
    position: relative;
}
.aba{
    width: 350px;
    height: 50px;
    margin-top: -8px;
    background-color: #030307;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    margin-left: 25px;
    transition: transform 0.3s ease;
}
.aba2{
    width: 350px;
    height: 50px;
    margin-top: -8px;
    background-color: #030307;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    margin-left: 25px;
    transition: transform 0.3s ease;
}
.botao1{
    border-radius: 18px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    color: #f1f1f0;
    background-color: #6f7058;
    background-image: linear-gradient(90deg, #6bca2b, rgb(83, 116, 30) );
    border: none;
    margin-top: 12px;
    margin-left: 250px;
}
.botao1:hover{
    transform: scale(1.05);

}
.botao2{
    border-radius: 18px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    color: #f1f1f0;
    background-color: #6f7058;
    background-image: linear-gradient(90deg, #6bca2b, rgb(83, 116, 30) );
    border: none;
    margin-top: 12px;
    margin-left: 250px;
}
.botao2:hover{
    transform: scale(1.05);

}
.sessao-projetos p{
    color: #4db905;
    margin-top: -35px;
    margin-left: 38px;
    font-family: "DM Sans", sans-serif;
}

footer {
    background-color: var(--cor-footer);
    width: 100%;
    padding: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    box-shadow: -20px 0px 20px #000000d7;
    
}

footer ul {
    font-size: 15px;
    gap: 30px;
    font-family: 'Press Start 2P', monospace;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: #6bca2b;
    text-decoration: none;
}

footer a:hover {
    color: #706f6f;
}
.sessao-contato{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 25px;
}
.sessao-contato img{
    width: 60px;
    height: 60px;
    margin-left: 23px;

}
.sessao-contato p{
    margin-top: 20px;
    font-family: "DM Sans", sans-serif;
}
.gmail, .numero, .meu-linkedin, .meu-github{
    color: #8d8f83;
}
body.light .gmail p, .numero p, .meu-linkedin p, .meu-github p{
    color: #4e4e4a;
}

.email-p, .telefone-p, .linkedin-p, .github-p{
    color: #c0c0bf;
    margin-left: 25px;
}
body.light .email-p p, .telefone-p p, .linkedin-p p, .github-p p{
    color: #6e6e6e;
}


.gmail{
    margin-left: 20px;
}
.Email img, .email-p{
    margin-left: 100px;
}
.email-p{
    margin-left: 105px;
}
.contato{
    margin-top: 140px;
}
.numero, .meu-linkedin, .meu-github{
    margin-right: 25px;
}
.Email:hover{
    transform: scale(1.10);
}
.Telefone:hover{
    transform: scale(1.10);
}
.GitHub:hover{
    transform: scale(1.10);
}
.LinkedIn:hover{
    transform: scale(1.10);
}
/* PROJETO CINEMANACIONAL */
.janela-modal-ProjCinema{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000008a;
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: none;
    
}
.modalcinema{
    width: 65%;
    height: 450px;
    min-height: 200px;
    background-color: var(--cor-fundo);
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
    position: relative;
}
.fechar{
    position: absolute;
    top: -5px;
    height: -5px;
    width: 30px;
    right: -5px;
    border-radius: 50px;
    border: 0;
    background-color: var(--cor-principal1);
    font-size: 20px;
    color: var(--cor-fundo);
    cursor: pointer;
}
.janela-modal-ProjCinema.abrir{
    display: flex;
}
@keyframes abrirModal {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    
}
.abrir .modalcinema{
    animation: abrirModal 0.5s;
}
.modalcinema p, h1, h3{
    margin-left: 600px;
    margin-top: -5px;
    font-family: "DM Sans", sans-serif;
}
.modalcinema h1, h3{
    color: var(--cor-principal1);
}
.modalcinema p{
    color: #8e8f8c;
}
.AcessarProj{
    border-radius: 10px;
    width: 130px;
    height: 30px;
    cursor: pointer;
    color: #f1f1f0;
    background-color: #6f7058;
    background-image: linear-gradient(90deg, #6bca2b, rgb(83, 116, 30) );
    border: none;
    position: absolute;
    bottom: 35px;
    left: 30px;
    z-index: 1000;
   
}
.AcessarProj:hover{
    transform: scale(1.05);

}
.AcessarReposit{
    border-radius: 10px;
    width: 150px;
    height: 30px;
    cursor: pointer;
    color: #f1f1f0;
    background-color: #6f7058;
    background-image: linear-gradient(90deg, #6bca2b, rgb(83, 116, 30) );
    border: none;
    position: absolute;
    bottom: 35px;
    left: 180px;
    z-index: 1000;
}
.AcessarReposit:hover{
    transform: scale(1.05);
}
.AcessarProj, .AcessarReposit button{
    margin-top: 50px;
}
/* PROJETO FLUTTERFLOW */
.janela-modal-ProjFlutter{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000008a;
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: none;
    
}
.modalflutter{
    width: 65%;
    height: 450px;
    min-height: 200px;
    background-color: var(--cor-fundo);
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
    position: relative;
}
.janela-modal-ProjFlutter.abrir{
    display: flex;
}
.abrir .modalflutter{
    animation: abrirModal 0.5s;
}
.modalflutter p, h1, h3{
    margin-left: 600px;
    margin-top: -5px;
    font-family: "DM Sans", sans-serif;
}
.modalflutter h1, h3{
    color: var(--cor-principal1);
}
.modalflutter p{
    color: #8e8f8c;
}
iframe{
    position: absolute;
    top: 50px;
    left: 30px;
}
@media screen and (max-width: 1160px){
    .trilho{
        display: none;
    }
    .nav-content ul{
        display: none;
    }
    .logo-saturn img{
        width: 60px;
        height: 60px;
        margin-left: -80px;
    }
    .title h1, #typing, .p{
        justify-content: center;
        margin-left: 15px;
    }
    .nome{
        margin-top: 10px;
    }
    .p{
        margin-top: 10px;
        font-size: 20px;
        
    }
    .ola{
        margin-top: 100px;
        font-size: 20px;
    }
    #typing{
        font-size: 30px;
    }
    
    .botao-contato{
        width: 15px;
        margin-left: -10px;
    }
    .botao-curriculo{
        width: 15px;
        margin-left: -140px;
        justify-content: center;
    }
    .divisor hr{
        margin-top: 320px;
    }
    .imagem-perfil img{
        margin-top: 250px;
        width: 180px;
        height: 220px;
        margin-left: 50px;
    }
   
    
}
